# Ignore node_modules in root directory (if any)
node_modules/

# Ignore node_modules in dashboard_backend
dashboard_backend/node_modules/

# Ignore node_modules in vite-react
dashboard_frontend/node_modules/
